#newlist {
  .item {
    border: 1px solid #f6f6f6;
  }
  a:hover .item {
    border: 1px solid red;
  }
  @media (min-width: 1101px) {
    .item > :first-child {
      width: 45%;
    }
    .item > div {
      width: 55%;
      padding: 30px;
    }
    .titleBox > div {
      margin-top: 28px;
    }
  }
  @media (max-width: 1100px) {
    .item img {
      width: 100%;
    }
    .item > div {
      width: 100%;
    }
    .titleBox{
      padding: 12px 16px;
    }
    .titleBox > div {
      margin-top: 12px;
    }
  }
}
